### Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import warnings
import nltk
from sklearn.preprocessing import StandardScaler

Load Data

In [11]:
df = pd.read_csv("Car_Reviews_Database.csv", delimiter=";", index_col=0, encoding='latin1')

In [12]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [15]:
df.head()

     Model                                              Review
Year
2009  Honda  Although arguably the first-generation Insight...
2009  Honda  2009 Honda Accord EX-L 4  : This car is very c...
2010  Honda  I have owed and driven Honda products for 20 y...
2010  Honda  Honda Accord Euro L : The seats are average bu...
2011  Honda   Honda HR-V: Continuous variable transmission ...

In [16]:
df.describe

<bound method NDFrame.describe of                                                    Model                                              Review
Year
2009                                                Honda  Although arguably the first-generation Insight...
2009                                                Honda  2009 Honda Accord EX-L 4  : This car is very c...
2010                                                Honda  I have owed and driven Honda products for 20 y...
2010                                                Honda  Honda Accord Euro L : The seats are average bu...
2011                                                Honda   Honda HR-V: Continuous variable transmission ...
...                                                   ...                                                ...
NaN                                                   NaN                                                NaN
NaN                                                   NaN                                                NaN
NaN                                                   NaN                                                NaN
NaN                                                   NaN                                                NaN
;;; it's by far one of the most reliable cars I...    NaN                                                NaN

[404 rows x 2 columns]>

Jumlah nilai yang null

In [17]:
total = df.isnull().sum().sort_values(ascending=False)

percent = (df.isnull().sum()/df.isnull().count())\
.sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, \
                        keys=['Total', 'Missing Percent'])

missing_data['Missing Percent'] = \
missing_data['Missing Percent'].apply(lambda x: x * 100)

missing_data.loc[missing_data['Missing Percent'] > 10][:10]

        Total  Missing Percent
Review    193        47.772277
Model     192        47.524752

In [27]:
dc.isnull().sum()

Model     192
Review    193
dtype: int64

### Data Cleaning

In [24]:
dc = pd.read_csv("Car_Reviews_Database.csv", delimiter=";", index_col=0, encoding='latin1')
dc = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [26]:
print(dc.shape)

(404, 2)

Drop Missing Value

In [28]:
dc = dc.dropna()
print(dc.shape)

(211, 2)

In [31]:
total = dc.isnull().sum().sort_values(ascending=False)

percent = (dc.isnull().sum()/dc.isnull().count())\
.sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, \
                        keys=['Total', 'Missing Percent'])

missing_data['Missing Percent'] = \
missing_data['Missing Percent'].apply(lambda x: x * 100)

missing_data.loc[missing_data['Missing Percent'] > 10][:10]

Empty DataFrame
Columns: [Total, Missing Percent]
Index: []

In [29]:
dc.isnull().sum()

Model     0
Review    0
dtype: int64