# Explorator Data Analysis

In [55]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import warnings
import nltk
from sklearn.preprocessing import StandardScaler

Load Data

In [56]:
df = pd.read_csv("Car_Reviews_Database.csv",encoding='latin1')

In [57]:
df.head(10)

   Year Model                                              Review
0  2009  Honda  Although arguably the first-generation Insight...
1  2009  Honda  2009 Honda Accord EX-L 4  : This car is very c...
2  2010  Honda  I have owed and driven Honda products for 20 y...
3  2010  Honda  Honda Accord Euro L : The seats are average, b...
4  2011  Honda   Honda HR-V: Continuous variable transmission ...

In [58]:
df.describe

<bound method NDFrame.describe of      Year   Model                                              Review
0    2009    Honda  Although arguably the first-generation Insight...
1    2009    Honda  2009 Honda Accord EX-L 4  : This car is very c...
2    2010    Honda  I have owed and driven Honda products for 20 y...
3    2010    Honda  Honda Accord Euro L : The seats are average, b...
4    2011    Honda   Honda HR-V: Continuous variable transmission ...
..    ...      ...                                                ...
273  2019   Honda   Honda Civic EX: Very clever design and very sp...
274  2019  Hyundai  Hyundai Sonata 2.4: Large car and spacious car...
275  2019  Genesis  If you can deal with (or prefer?) rear-wheel d...
276  2019     Ford   Ford Escape XLT 2.5 : I really didn't want to...
277  2019      BMW  The BMW 3 Series is known as a driver's car, a...

[278 rows x 3 columns]>

Jumlah nilai yang null

In [25]:
total = df.isnull().sum().sort_values(ascending=False)

percent = (df.isnull().sum()/df.isnull().count())\
.sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, \
                        keys=['Total', 'Missing Percent'])

missing_data['Missing Percent'] = \
missing_data['Missing Percent'].apply(lambda x: x * 100)

missing_data.loc[missing_data['Missing Percent'] > 10][:10]

        Total  Missing Percent
Review     44        15.827338

In [27]:
housing = pd.read_csv('./Car_Reviews_Database.csv',encoding='latin1')

In [28]:
housing.shape

(278, 3)